.btn {
	background-color: $mainBlue;
	color: $mainWhite;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

	&--orange {
		background-color: $mainOrange;
	}

	&--gray {
		background-color: $mainGray;
	}

	&--black {
		background-color: $mainBlack;
	}

	&--transparent {
		background-color: rgba($mainBlue, 0.0);
	}
	
	&--large {
		padding: 1.6rem;

		@mixin atSmall {
			font-size: 1.25rem;
		}
	}
}